<style>
/** Login/Signup Form **/
.form-wrapper {
  margin-top: 20px;
}
.form-wrapper .form-header {
  padding: 5px 10px;
  color: white;
  background-color: var(--crunch);
  font-size: 1.25rem;
  font-weight: 600;
}
.form-wrapper .form-body {
  border: 2px solid var(--crunch);
  padding: 5px 10px 20px 10px;
}

.form-wrapper .form-body input {
  width: 100%;
}
.form-wrapper .input-group {
  margin: 10px 0;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}
.form-signup .standout {
    background-color: #77CBB9;
}

.form-signup .standout:hover {
    background-color: #506C64;
}

 #login {
    color: white;
}
#login:hover {
    text-decoration: underline;
}
</style>

<div class="form-wrapper">
    <header class="form-header">
        Sign up
    </header>
    <div class="form-body">
        <form class="form-signup">
            <div class="input-group">
                <label for="username-signup">Username:</label>
                <input type="text" id="username-signup" />
            </div>
            <div class="input-group">
                <label for="password-signup">Password:</label>
                <input type="password" id="password-signup" minlength="4" required />
            </div>
            <div>
            <button class="standout" type="submit" data-route="/signup">Sign Up!</button>
            <a href="/login" id="login">Login instead</a>
            </div>
        </form>
    </div> <!-- form-body -->
</div> <!-- form-wrapper -->

<script>
$(".form-signup").on("submit", async(event)=>{
    event.preventDefault();
    let username = $("#username-signup").val();
    let password = $("#password-signup").val();

    if (username && password) {
        $.post("/api/signup", {username, password}).always(data=>{
            if(data.loggedIn) {
                document.location.pathname = "/";
            } else {
                alert(data.error);
            }
        });
    }
});
</script>