/* Reset CSS */
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Themes */
:root {
  /** 
  green: #68d934; rgba(104, 217, 52, 1);
  orange: #e67b1e; rgba(230, 123, 30, 1);
  bluegreen: #2ed9a9; rgba(46, 217, 169, 1);
  light blue: #6a86b8; rgba(106, 134, 184, 1);
  yellow: #ffe033; rgba(255, 224, 51, 1);
  
  gray: #666666;
  lightgray: #a7a7a7;
  **/
  --crunch: #e67b1e;
  --thememed: #6a86b8;
  --themelight: rgba(106, 134, 184, 0.5);
  --soften: #ffe033;
}

a {
  text-decoration: none;
}

/* Mobile-first approach */
@media (min-width: 992px) {
  main {
    width: 70% !important;
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  main {
    width: 60% !important;
    margin-top: 40px;
  }
}
/* Layout */
body {
  background-color: var(--soften);
}

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

button.standout {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--thememed);
  color: white;
  transition: background-color 500ms;
}

button.standout:hover {
  background-color: var(--themelight);
}

/** Header **/
.site-header {
  margin: 0;
  margin-top: -15px;
  padding: 0;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--crunch);
}
.site-header nav ul {
  padding: 0;
  margin: 10px 0;
}
.site-header nav ul li:first-child {
  color: red;
}
.site-header nav ul li {
  display: inline-block;
  margin-right: 60px;
  text-align: center;
  list-style-type: none;
}
.site-header nav ul li a,
.site-header nav ul li a:visited {
  color: var(--soften);
  text-decoration: none;
  transition: color 500ms;
}
.site-header nav ul li a:active,
.site-header nav ul li a:hover {
  color: var(--themelight);
}
.site-header .page-title {
  display: inline-block;
  padding: 5px;
  margin: 10px 0 20px 0;
  border-radius: 10px;
  color: var(--crunch);
  background-color: var(--soften);
  font-weight: 800;
  box-shadow: 5px 5px var(--themelight);
}

/** Login/Signup Form **/
.form-wrapper {
  margin-top: 20px;
}
.form-wrapper .form-header {
  padding: 5px 10px;
  color: var(--soften);
  background-color: var(--crunch);
  font-size: 1.25rem;
  font-weight: 600;
}
.form-wrapper .form-body {
  border: 2px solid var(--crunch);
  padding: 5px 10px 20px 10px;
}
.form-wrapper .form-body input {
  width: 100%;
}
.form-wrapper .input-group {
  margin: 10px 0;
}

/** Prototyping **/
.prototype-php-engine {
  display: block;
  padding: 5px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background-color: rgba(255, 224, 51, 0.5);
  z-index: 9999;
  border: 1px solid rgba(230, 123, 30, 0.25);
  border-radius: 10px;
}
